[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "external/SPSCQueue"]
	path = external/SPSCQueue
	url = https://github.com/rigtorp/SPSCQueue.git
